body {
    background-color: #FAF7F0;
    color: #4A4947;
	text-align: center;
    font-size: 16px;
    font-family: 'Montserrat';
    vertical-align: middle;
}

h1 {
    color: #914F1E
}

h2 {
    color: #4A4947
}

table {
    margin: 0 auto;
	margin-bottom: 20px;
	border-collapse: collapse;
	text-align: center;
}

input {
    height: 20px;
    padding: 1px;
    font-size: 16px;
    font-family: 'Montserrat';
    text-align: center;
}

input[type="text"] {
    width: 400px;
}

input[type="number"] {
    width: 100px;
}

th {
	font-weight: bold;
	font-color: #FAF7F0;
	padding: 5px;
	background: #B17457;
	border: 1px solid #B17457;
}

tr {
	border: 0;
}

tr:hover {
    background-color: #D8D2C2;
}

tr.borderless:hover {
    background-color: #FAF7F0;
}

td {
	border: 1px solid #B17457;
	padding: 5px;
}

td.view-field {
    padding-left: 24px;
    padding-right: 24px;
}

td.borderless {
    border: 0;
    text-align: right;
}

label {
	font-weight: bold;
	color: #4A4947;
    padding: 24px;
}

.btn {
    border-radius: 50px 15px;
    background: #D8D2C2;
    width: 120px;
    height: 30px;
	font-weight: bold;
    font-size: 12px;
    font-family: 'Montserrat';
}

ul {
	list-style-type: square;
}

li {
	margin: 7px 0;
	font-size: 18px;
}

a {
    color: #4A4947;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: #B17457;
}

a:active {
    background-color: black;
}