<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/style-content.css">
    <link rel="stylesheet" href="/css/style-header.css">
</head>
<body>
    <div th:insert="~{header :: content}"></div>
    <h1>Author Details</h1>
    <div>
        <table class="borderless">
            <tr class="borderless">
                <td class="borderless"><label>Name:</label></td>
                <td th:text="${author.name}" class="view-field"></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr class="borderless">
                <td class="borderless">
                    <form>
                        <input type="button" th:onclick="|location.href='/authors/edit-form/${author.id}'|" value="Edit" class="btn" />
                    </form>
                </td>
                <td class="borderless">
                    <form th:method="put" th:action="@{'/authors/delete/' + ${author.id}}">
                        <input type="submit" value="Delete" class="btn" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <h4>Author books:</h4>
    <table>
        <tr th:each="book: ${books}">
            <td><a th:href="@{'/books/view?id=' + ${book.id}}" th:text="${book.title}"></a></td>
            <td>
                <form id="'delete_author_book_form_' + ${book.id}" th:method="put"
                      th:action="@{'/authors/delete/' + ${author.id} + '/book/' + ${book.id}}">
                    <img src="/images/Delete.png" alt="Delete" class="btn-icon"
                         onclick="document.getElementById('delete_author_book_form_[[${book.id}]]').submit();">
                </form>
            </td>
        </tr>
    </table>
    </div>
    <div>
        <hr>
        <form>
            <input type="button" onclick="location.href='/authors/'" value="<< Authors" class="btn" />
<!--            <input type="button" onclick="javascript:history.back()" value="<< Back" class="btn" />-->
        </form>
    </div>
    <div th:insert="~{footer :: copy}"></div>
</body>
</html>