<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <h1>Book Details</h1>
    <ul>
        <li th:utext="'<b>Book ID:</b> ' + ${bookId}"></li>
        <li th:utext="'<b>Title</b>: ' + ${bookTitle}"></li>
        <li th:utext="'<b>Author</b>: ' + ${bookAuthor}"></li>
        <li th:utext="'<b>Number of pages</b>: ' + ${bookNumberOfPages}"></li>
    </ul>
    <br>
    <br>
    <a href="/books"><< Back</a>
</body>
</html>