<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Book Details</h1>
    <div>
        <table>
            <tr>
                <td><label>Book ID:</label></td>
                <td th:text="${book.id}" class="view-field"></td>
            </tr>
            <tr>
                <td><label>Title:</label></td>
                <td th:text="${book.title}" class="view-field"></td>
            </tr>
            <tr>
                <td><label>Author: </label></td>
                <td th:text="${book.author}" class="view-field"></td>
            </tr>
            <tr>
                <td><label>Genre: </label></td>
                <td th:text="${book.genre}" class="view-field"></td>
            </tr>
            <tr>
                <td><label>Number of pages: </label></td>
                <td th:text="${book.numberOfPages}" class="view-field"></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr class="borderless">
                <td class="borderless">
                    <form>
                        <input type="button" th:onclick="|location.href='/books/edit-form/${book.id}'|" value="Edit" class="btn" />
                    </form>
                </td>
                <td class="borderless">
                    <form th:method="put" th:action="@{'/books/delete/' + ${book.id}}">
                        <input type="submit" value="Delete" class="btn" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <hr>
        <form>
            <input type="button" onclick="location.href='/books'" value="<< Back" class="btn" />
        </form>
    </div>
</body>
</html>