<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div><h1>List of Books</h1></div>
    <div>
        <table>
            <tr>
                <th width="350px">Title</th>
                <th width="250px">Author</th>
                <th width="150px">Genre</th>
                <th width="50px">Pages</th>
                <th width="50px"></th>
                <th width="50px"></th>
            </tr>
            <tr th:each="book: ${books}">
                <td><a th:href="@{'/bookDetails?id=' + ${book.id}}" th:text="${book.title}"></a></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.genre}"></td>
                <td th:text="${book.numberOfPages}"></td>
                <td>
                    <form>
                        <input type="button" th:onclick="|location.href='/books/edit-form/${book.id}'|" value="Edit" class="btn" />
                    </form>
                </td>
                <td>
                    <form th:method="put" th:action="@{'/books/delete/' + ${book.id}}">
                        <input type="submit" value="Delete" class="btn" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <form>
            <input type="button" onclick="location.href='/books/create-form'" value="Add book" class="btn" />
        </form>
    </div>
    <div>
        <hr>
        <form>
            <input type="button" onclick="location.href='/'" value="<< Back" class="btn" />
        </form>
    </div>
</body>
</html>