<!DOCTYPE HTML>
<html xmlns:th="htt[://thymeleaf.org">
    <head>
        <title>Creating a Book</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div>
            <h1>Creating a Book</h1>
        </div>
        <div>
            <form method="post" action="/books/create">
                <table>
                    <tr>
                        <td><label for="title">Title:</label></td>
                        <td><input id="title" type="text" name="title" maxlength="100" required/></td>
                    </tr>
                    <tr>
                        <td><label for="author">Author: </label></td>
                        <td><input id="author" type="text" name="author" maxlength="50" required/></td>
                    </tr>
                    <tr>
                        <td><label for="genre">Genre: </label></td>
                        <td><input id="genre" type="text" name="genre" maxlength="50"/></td>
                    </tr>
                    <tr>
                        <td><label for="pagesNb">Number of pages: </label></td>
                        <td><input type="number" max="3000" id="pagesNb" placeholder="0" name="numberOfPages"/></td>
                    </tr>
                    <tr class="borderless">
                        <td class="borderless"></td>
                        <td class="borderless"><input id="saveBookBtn" type="submit" value="Save" class="btn" /></td>
                    </tr>
                </table>
            </form>
        </div>
        <div>
            <hr>
            <form>
                <input type="button" onclick="location.href='/books'" value="<< Back" class="btn" />
            </form>
        </div>
    </body>
</html>